*{
    padding: 0;
    margin: 0;
    background: url(img/bg-intro-desktop.png) ;
    background-color: rgb(248, 137, 155);
}

.hero .main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 150px;
}

.main .left{
    font-weight: 500;
}

.hero .main .form form{
    display: flex;
    flex-direction: column;
    background: none;
    background-color: white;
    padding: 20px 25px;
    border-radius: 15px;
}

.form form h1{
    background: inherit;
    color: black;
    text-align: center;

}

.form-group{
    background: none;
}

.form form input{
    width: 100%;
    background: none;
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    margin: 15px 0;
    border-width: 1px;
}

.form form button{
    background: none;
    background-color: rgb(61, 177, 61);
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    text-align: center;    
}

.form form p{
    background: inherit;
    color: black;
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
    filter: opacity(.5);
}

.error-message{
    color: red;
    display: none;
    background: none;
}